<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
                <add name="Expires" value="-1" />
                <add name="Pragma" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".obj" mimeType="text/plain" />
            <mimeMap fileExtension=".mtl" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
